Pods/
EvomoUnitySDK.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
EvomoUnitySDK.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
EvomoUnitySDK.xcworkspace/xcuserdata/jakobwowy.xcuserdatad/UserInterfaceState.xcuserstate
